@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap|sans-serif:wght@300;400;500;600;700;800');

/*---------------------------------------------------------Header*/

header{
  text-transform: uppercase;
  padding: -12px;
  height: 100px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 13px;
}

h1{
  background-color: rgba(100, 250, 1, 0.6);
  font-size: 50px; 
  padding-left: 5px;
  margin-bottom: -1px;
}

h2{
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.navbar li {
  list-style-type: none;
  font-size: 25px;
  font-weight: 500;
}

.navbar{
  background-color: rgb(100, 249, 0);
  padding-right: 50px;
  padding-left: 5px;
  width: 100%;
}

.contact {
  float: right;
  padding-top: 10px;
}

/*---------------------------------------------------------Main*/
/*.main-home{
  background-image: url(../images/welcome1.jpg);
  background-repeat: no-repeat;
  background-position: fill;
  padding-left: 10px;
} */

.main-home{
  background-color: rgb(0, 214, 132);
  width: 100%;
}

/*---------------------------------------------------------Welcome*/
.welcome{
  height: 100px;
  padding-top: 10px;
}

/*---------------------------------------------------------Why*/
.why{
  padding-top: 30px;
}
/*---------------------------------------------------------Review*/

/*-------------------------------------Icons*/
.fa-phone{
  padding-right: 10px;
  font-size: 150%;
}

.fas{
  padding-left: 10px;
}

/*-------------------------------------------Account*/
.main-account{
  background-color: rgb(0, 214, 132);
  width: 100%;
}

.signup{
  display: inline-block;
  height: 75px;
  width: 50%;
  padding-bottom: 50px;
}

.reasons{
  height: 100px;
  width: 50%;
  display: inline-block;
}

.reasons label{
  width: 30%;
}

#account-image{
  background-image: url(../images/gym.jpg);
  background-repeat: no-repeat;
  background-size: 800px;
  min-height: 600px;
  width: 50%;
  opacity: 0.9;
  float: right;
  margin-bottom: -50px;
}

/*-------------------------------------------Cafe and Bar*/
.main-cafe{
  background-color: rgb(0, 214, 132);
  width: 100%;
}

.food{
  display: inline-table;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.drinks{
  display: inline-table;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.cafe-image{
  background-image: url(../images/cafe.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 800px;
  min-height: 400px; 
  width: 50%;
  opacity: 0.9;
}

/*-------------------------------------------About*/
.main-about{
  background-color: rgb(0, 214, 132);
  width: 100%;
}
.records{
  padding-bottom: -50px;
}

.plank{
  display: inline-block;
  width: 25%;
}
.pull-ups{
  display: inline-block;
  width: 25%;
}
.squat{
  display: inline-block;
  width: 25%;
}

.about-image{
  background-image: url(../images/trophy.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 400px;
  min-height: 400px; 
  width: 20%;
  float: right;
  opacity: 0.9;
}

/*-------------------------------------------Map*/
.map{
  height: 200px;
  width: 100%;
  margin: auto
}
/*-------------------------------------------Footer*/
footer {
  background-color: rgb(15, 260, 200);
  letter-spacing: 4px;
  padding-top: 10px;
  height: 120px;
  padding-bottom: 10px;
}

.social{
  text-align: center;
  padding-top: 30px;
}

.social li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
}