@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap|sans-serif:wght@300;400;500;600;700;800');

/*---------------------------------------------------------Header*/

.navbar li {
    list-style-type: none;
    text-decoration: none;
}

.contact {
  float: right;
}

/*---------------------------------------------------------Welcome*/


/*---------------------------------------------------------Review*/
.review {
  float: right;
}

/*-------------------------------------Icons*/
.fa-phone{
  padding-right: 10px;
  font-size: 150%;
}

.fas{
  padding-left: 10px;
}

/*-------------------------------------------Footer*/

.social li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
}