@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap|sans-serif:wght@300;400;500;600;700;800');

/*h1{
    
}
*/
.navbar li {
    list-style-type: none;
}

/*nav {
    display: inline-block;
  } */


.contact {
  float: right;
}


.menu {
  display: absolute;    
}

.review {
  float: right;
}

.contact{
  display: block;
}

/*-------------------------------------Icons*/
